*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: white#333;
    color: orangered;
    padding: 5px 0;
    display: flex;   
}

.btn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 10px;
   
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    padding: 5px 0;
    align-items: center;
    font-size: 16px;
    color: black;
    gap: 5rem;
    list-style: none;
}
.texto{
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

.banner{
    
    color: white;
    padding: 20px 0;
    text-align: center;
}



.container{
    font-size: 25px;
    font-weight: bold;
    color: orangered;
    padding: 10px 0;
    text-align: center; 
}

.Resquest{
    color: white;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    display: flex;   
    
}

.nome-com-desenho {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 5px; /* Espaço entre ícone e nome */
  }
  
  .icone {
    width: 24px;
    height: 30xpx;
    width: 2rem;
  }

  
  .btn-outline-success {
    border-color: #ff6600;
    color: white;
  }
  
  .btn-outline-success:hover {
    background-color: #cba388;
    color: #000000;
  }
  
  .cover {
    position: absolute;
    z-index: -10;
    top: 50px;
    left: 0;
    height: 50vh;
    width: 100%;
    background-size: cover;
    filter: brightness(30%);
}
