:root {
  --cor-laranja: #ff4800;
  --cor-branca: #fff;
  --cor-preta: #000000;
  --cor-cinza: #D3D3D3;
}

/* Parte 1 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, serif;
}

button {
  padding: 8px 20px;
  background: var(--cor-laranja);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--cor-branca);
}

button:hover {
  background: var(--cor-laranja);
  color: var(--cor-branca);
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 15px 5%;
  background: var(--cor-branca);
}

.header-nav .logo {
  display: flex;
  align-items: center;
  gap: 5.5px;
  color: var(--cor-laranja);
}

.header-nav .logo img {
  width: 20%;
  margin-top: 2.5px;
}

.header-nav nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header-nav nav a {
  color: var(--cor-preta);
  text-decoration: none;
}

.header-nav nav a:hover {
  color: var(--cor-laranja);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 0 5%;
  color: var(--cor-branca);
  text-align: center;
}

.banner::before {
  filter: brightness(25%);
  inset: 0;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("./assets/images/ship.png") center/cover;
}

.banner h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.banner h4 {
  margin-bottom: 10px;
  font-size: 25px;
  color: var(--cor-laranja);
}

.banner form {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.banner input {
  padding: 10px;
  border: 1px solid var(--cor-branca);
  border-radius: 5px 0 0 5px;
}

.banner form button {
  border: 1px solid var(--cor-laranja);
  border-radius: 0 5px 5px 0;
}

/* Parte 2 */
.container-principal,
.container-secundario {
  padding: 1rem 15%;
  background-color: var(--cor-cinza);
}

.linha-contador,
.linha-descricao {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.coluna-descricao {
  flex: 1;
  min-width: 300px;
  padding-right: 2rem;
}

.coluna-seletor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 300px;
}

.nome-laranja {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--cor-laranja);
  text-transform: uppercase;
}

.nome-principal-negrito {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}

.descricao {
  max-width: 100%;
  margin-bottom: 2rem;
  color: var(--cor-preta);
}

.coluna-skill,
.coluna-happy,
.coluna-completo {
  flex: 1;
  text-align: center;
}

.numero-skill-negrito,
.numero-happy-negrito,
.numero-completo-negrito {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-style: italic;
  color: var(--cor-laranja);
}

.nome-skill-negrito,
.nome-happy-negrito,
.nome-completo-negrito {
  font-size: 1rem;
  color: var(--cor-preta);
}

.fundo {
  width: 100%;
  max-width: 400px;
  padding: 3rem 2rem;
  background-color: var(--cor-laranja);
  border-radius: 5px;
}

.padding {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario-nome,
.formulario-email,
.seletor {
  width: 100%;
  padding: 0.75rem;
  border: none;
  font-size: 1rem;
}

.botao {
  padding: 1rem;
  background-color: var(--cor-preta);
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: var(--cor-branca);
}

.botao:hover {
  background-color: var(--cor-preta);
}

/* Parte 3 */
.footer {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  background-color: #1F1F2E;
}

.footer-content {
  display: flex;
}


.footer-section {
  flex: 1;
  min-width: 280px;
  margin: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  padding: 0;
  list-style: none;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.icone {
  margin-right: 8px;
  vertical-align: middle;
}

.social-media-icons a {
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: orangered;
  cursor: pointer;
  border: none;
  color: white;
}

button:hover {
  background-color: #555;
}


p {
  width: 100%;
  color: white;
}

h2 {
  font-size: 20px;
  color: orangered;
}

.footer-final ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-final li a {
  color: white;
  text-decoration: none;
}

.section-cards {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.section-cards--title {
  text-align: center;
  padding: 0 0 3em 0;
}

.section-cards--title h2 {
  font-size: 38px;
  color: black;
}

.section-cards--title h6 {
  font-size: 16px;
  color: orangered
}

.section-cards--bodys {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F2F4;
  border-radius: 5px;
}

.card-body div {
  width: 100%;
  background-color: orangered;
  padding: 1rem 0;
  margin: 0 0 1rem 0;
  border-radius: 0;
}

.card-body h1 {
  font-size: 48px;
  margin: 1rem 0;
  font-weight: bolder;
}

.card-body h1 sup {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
  position: absolute;
  margin-top: 12px;
  margin-left: -12px;
}

.card-body h1 sub {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
  position: absolute;
  margin-top: 22px;
}

.card-body h2 {
  color: black;
  font-weight: bolder;
}

.card-body p {
  color: gray;
  margin: 5px 2rem;
}

.card-body button {
  width: 45%;
  padding: 10px 0;
  margin: 1rem 0 2rem 0;
  border-radius: 5px;
}