:root{
  --cor-laranja: #ff4800;
  --cor-branca: #fff;
  --cor-preta: #000000;
  --cor-cinza: #D3D3D3
  ;
}
/* Parte 1 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, serif;
}
button {
  padding: 8px 20px;
  background: var(--cor-laranja);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--cor-branca);
}
button:hover {
  background: var(--cor-laranja);
  color: var(--cor-branca);
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 15px 5%;
  background: var(--cor-branca);
}
.header-nav .logo {
  display: flex;
  align-items: center;
  gap: 5.5px;
  color: var(--cor-laranja);
}
.header-nav .logo img {
  width: 20%;
  margin-top: 2.5px;
}
.header-nav nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.header-nav nav a {
  color: var(--cor-preta);
  text-decoration: none;
}
.header-nav nav a:hover{
  color: var(--cor-laranja);
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 0 5%;
  color: var(--cor-branca);
  text-align: center;
}
.banner::before{
  filter: brightness(25%);
  inset: 0;
  content: "";
  position: absolute;
  z-index: -1;
  background: url("./assets/images/ship.png") center/cover;
}
.banner h1{
  margin-bottom: 20px;
  font-size: 50px;
}
.banner h4{
  margin-bottom: 10px;
  font-size: 25px;
  color: var(--cor-laranja);
}
.banner form{
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}
.banner input{
  padding: 10px;
  border: 1px solid var(--cor-branca);
  border-radius: 5px 0 0 5px;
}
.banner form button{
  border: 1px solid var(--cor-laranja);
  border-radius: 0 5px 5px 0;
}
/* Parte 2 */
.container-principal,
.container-secundario{
  background-color: var(--cor-cinza);
  padding: 1rem 15%;
}
.linha-contador,
.linha-descricao{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.coluna-descricao{
  flex: 1;
  min-width: 300px;
  padding-right: 2rem;
}
.coluna-seletor{
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nome-laranja{
  color: var(--cor-laranja);
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.nome-principal-negrito{
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.descricao{
  color: var(--cor-preta);
  margin-bottom: 2rem;
  max-width: 100%;
}
.coluna-skill,
.coluna-happy,
.coluna-complet{
  text-align: center;
  flex: 1;
}
.numero-skill-negrito,
.numero-happy-negrito,
.numero-complet-negrito{
  color: var(--cor-laranja);
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}
.nome-skill-negrito,
.nome-happy-negrito,
.nome-complet-negrito{
  font-size: 1rem;
  color: var(--cor-preta);
}
.fundo{
  background-color: var(--cor-laranja);
  padding: 3rem 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}
.padding{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formulario-nome,
.formulario-email,
.seletor {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
}
.botao{
  background-color: var(--cor-preta);
  color: var(--cor-branca);
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.botao:hover{
  background-color: var(--cor-preta);
}
